body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 2px;
  padding-top: 19px;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.15em;
  display: inline-block;
  position: relative;
}
.topnav .icon {
  display: none;  
}

@media screen and (max-width: 1200px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
a:after {    
  margin-top: 0px;
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  text-align: center;
  position: relative;
  background: rgb(243, 187, 2);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  }
  a:hover:after:not(#s) { 
    width: 100%; 
    left: 0; 
    }
